<h1>Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

OBJECTIVES:
- List popular languages for Data Science
- List common libraries used by Data Scientists
- List 3 Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. matplotlib

| Data Science Tools         |
|-----------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin               |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

<h2> Author </h2>
Jason